.navbar-default {
  background-color: #96858F;
}

.navbar-default .navbar-text {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #D5D5D5;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #DDDDDD;
  background-color: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #DDDDDD;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.jumbotron {
  background: url("assets/cropped.jpg");
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #555;
  text-align: right;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

p {
  color: #555;
}

h1 {
  color: #555;
}

h2 {
  color: #555;
}
